<div class="row">
  <div class="col-12 col-lg-4">
    <div id="profile">
      {{ $avatar := (.Page.Resources.ByType "image").GetMatch "avatar" }}
      {{ if $avatar }}
        <img src="{{ $avatar.RelPermalink }}" class="avatar-circle" width="200">
      {{ else }}
        <img src="/media/avatar.jpg" class="avatar-circle" width="200">
      {{ end }}
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
      <div class="content">{{ . }}</div>
    {{ end }}
  </div>
</div>
